@font-face {
    font-family: 'HYWenHei-85W';
    src: url('/static/HYWenHei-85W.ttf');
}

body {
    background-image: url('/static/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#radar {
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    margin: 0 0;
    /* transform: translateY(-50%) translateX(-50%); */
    width: 85vmin;
    height: 85vmin;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .1);
    overflow: hidden;
}

#setting {
    position: absolute;
    margin: 0 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .1);
    padding: 8px;
}


#map {
    position: absolute;
    z-index: 0;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, .7));
}
#playerDot {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    filter: drop-shadow(1.5px 1.5px 2px rgba(0, 0, 0, 1));
    overflow: hidden;
}
.playerDot {
    position: absolute;
}
#bombDot {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    filter: drop-shadow(1.5px 1.5px 2px rgba(0, 0, 0, 1));
}

#bombIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 1));
}

#player_status {
    position: fixed;
    opacity: 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .1);
}

#bomb_status {
    position: fixed;
    opacity: 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .1);
}

.dialog {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 32767;
    background-color : rgba(0, 0, 0, 0.4);
}
.dialogContent {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    top: 50%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .1);
    padding: 12px;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.fade-out {
    animation-name: fade-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0; display: none;}
}
